[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api-proxy/*"
  to = "https://api-comexstat.mdic.gov.br/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200